.currentBook {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 36px;
  margin: 50px 0;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  img {
    width: 100%;
    max-width: 400px;
    height: 600px;
    margin-bottom: 50px;

    @media screen and (max-width: 768px) {
      max-width: 200px;
      height: 300px;
    }
  }
}

.info {
  margin: 0 auto;
}

.authors {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.authorsName {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;

  li {
    margin-left: 10px;
    
    &:first-child {
      margin-left: 0;
    }
  }
}

.description {
  text-align: left;
  height: 339px;
  width: 100%;
  max-width: 620px;
  overflow: auto;
  margin-bottom: 50px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 8px;
    border: 1px solid #d4d4d4;

    &:hover {
      background: #979797;
    }
  }
}