
.App {
  text-align: center;
}

.searchBlock {
  display: flex;
  justify-content: center;
}

.center {
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
